# Logistic Regression SFP

In [17]:
#Authors: 
#Ayush Sharma (Delhi Technological University)
#Mrigank Sondhi (Delhi Technological University)

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [19]:
raw_data = pd.read_csv('jm1.csv')
raw_data.head()

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,False
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1,1,1,1,1,1,1,1,1,True
2,72.0,7.0,1.0,6.0,198.0,1134.13,0.05,20.31,55.85,23029.10,...,51,10,8,1,17,36,112,86,13,True
3,190.0,3.0,1.0,3.0,600.0,4348.76,0.06,17.06,254.87,74202.67,...,129,29,28,2,17,135,329,271,5,True
4,37.0,4.0,1.0,4.0,126.0,599.12,0.06,17.19,34.86,10297.30,...,28,1,6,0,11,16,76,50,7,True

In [20]:
X = raw_data[raw_data.columns[0:21]]
Y = pd.DataFrame(raw_data[raw_data.columns[21]])

In [21]:
#Values having '?': uniq_Op, uniq_Opnd, total_Op, total_Opnd, branchCount
Y = Y[X['branchCount'] != '?']
X = X[X['branchCount'] != '?']
X.reset_index(inplace = True, drop = True)
Y.reset_index(inplace = True, drop = True)
Y = Y['defects']

In [22]:
for i in range(Y.size):
  if (Y[i] == True):
    Y.loc[i] = 1.0
  else:
    Y.loc[i] = 0.0

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10880 entries, 0 to 10879
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loc                10880 non-null  float64
 1   v(g)               10880 non-null  float64
 2   ev(g)              10880 non-null  float64
 3   iv(g)              10880 non-null  float64
 4   n                  10880 non-null  float64
 5   v                  10880 non-null  float64
 6   l                  10880 non-null  float64
 7   d                  10880 non-null  float64
 8   i                  10880 non-null  float64
 9   e                  10880 non-null  float64
 10  b                  10880 non-null  float64
 11  t                  10880 non-null  float64
 12  lOCode             10880 non-null  int64
 13  lOComment          10880 non-null  int64
 14  lOBlank            10880 non-null  int64
 15  locCodeAndComment  10880 non-null  int64
 16  uniq_Op            10880 non-null  object
 17  uniq_Opnd          10880 non-null  object
 18  total_Op           10880 non-null  object
 19  total_Opnd         10880 non-null  object
 20  branchCount        10880 non-null  object
dtypes: float64(12), int64(4), object(5)
memory usage: 1.7+ MB

In [24]:
Y

0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
10875    0.0
10876    0.0
10877    0.0
10878    0.0
10879    0.0
Name: defects, Length: 10880, dtype: object

In [25]:
X = np.asarray(X).astype('float32')
Y = np.asarray(Y).astype('float32')

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 1, test_size = 0.2)

In [27]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
X_train[0].shape

(21,)

In [30]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [32]:
acc=clf.score(X_test, Y_test)

In [33]:
print("ACcuracy of Logistic Regression=", acc*100)

ACcuracy of Logistic Regression= 80.79044117647058